<div class="flex flex-col">
    <div class="grid grid-cols-12">
        <div class="col-span-2 justify-self-end self-center">
            <img class="mr-3" src="{{ url_for('static', filename='img/icons/arrow_left.png') }}" alt="arrow left">
        </div>
        <div class="col-span-8 rounded-lg shadow ">
            <img class="rounded-lg" src="{{ url_for('static', filename='img/family_dinner.jpg') }}" alt="family dinner">
        </div>
        <div class="col-span-2 self-center">
            <img class="ml-3" src="{{ url_for('static', filename='img/icons/arrow_right.png') }}" alt="arrow right">
        </div>
        <div class="col-span-8 col-start-3 mt-5">
            <div class="flex justify-between mx-5">
                <p>Kendal Thibault</p>
                <div>
                    <img src="{{ url_for('static', filename='img/icons/thumbs_up.png') }}" alt="thumbs_up">
                </div>
            </div>
            <div class="mt-5">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum, ipsum minima! Neque sed, beatae
                    architecto aspernatur ab autem, minus, perferendis vitae harum eveniet aliquid voluptas? Aperiam
                    cupiditate eos voluptas doloribus, sint commodi. Recusandae distinctio nisi quis tempore vero ipsa
                    adipisci eveniet dignissimos ex. Rem assumenda ducimus eveniet nulla cumque quibusdam, consequatur
                    accusamus doloremque? Molestiae quibusdam deleniti similique numquam pariatur totam doloremque hic
                    distinctio magnam mollitia ab, et ducimus animi sint odio corrupti repudiandae iste facere atque
                    possimus! Nostrum sapiente, provident optio, quidem illo totam dolorem odio fuga quibusdam minima
                    facilis praesentium laboriosam asperiores! Voluptas rem officiis, quam ipsum illo excepturi.</p>
            </div>
        </div>
    </div>
</div>