

<form class="w-full" action="/photo/create" method="post" enctype="multipart/form-data">
    <input type="hidden" name="album_id" id="album_id" value="{{ album.id }}">
    <div class="flex flex-col gap-3">
        <div class="mb-3 flex items-center gap-3">
            <input class="h-5 w-5" type="checkbox" name="photo_url" id="url_checkbox_photo">
            <label class="text-xs text-center" for="photo_url">Photo URL</label>
        </div>
        <div class="flex flex-col" id="file_upload_photo">
            <label class="text-xs text-center" for="photo_upload">Photo Upload</label>
            <input type="file" name="file" id="photo_upload">
        </div>
        <div class="flex flex-col hidden" id="url_upload_photo">
            <label class="text-xs text-center" for="url">Photo URL</label>
            <input class="input" type="text" name="url" id="url">
        </div>
        <div class="flex flex-col">
            <label class="text-xs text-center" for="description">Description</label>
            <textarea class="input" name="description" id="description" cols="30" rows="10"></textarea>
        </div>
        <button class="btn-primary">Add Photo</button>
    </div>
</form>


{% block js %}
    <script src="{{ url_for('static', filename='js/photo_form.js') }}"></script>
{% endblock js %}